/* @tailwind base;
@tailwind components;
@tailwind utilities; */


@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat:wght@200;300;400;500&family=Nunito:wght@300&display=swap');
html, body{
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}


/* font-family: 'Comfortaa', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif; */


.navbar{
  padding: .8rem;
}

.navbar-light .nav-item:focus .nav-link,
.navbar-light .nav-item:hover .nav-link {
        color: white;
        background-color: #7EBDC2;
        border-radius: 40px;
}

.navbar-nav li{
  padding-right: 10px;
  padding-left: 10px;
}

.nav-link{
  font-size: 1.1em !important;
}
.padding {
  padding-bottom: 2rem;
}
.welcome{
  margin: 0 auto;
  padding-top: 2rem;
  background-color: #FCB322;
  color: white;
}

.welcome .col-12 {
  padding-bottom: 0rem;
}

.welcome button, .catalog_btn{
  background-color:white;
  border-radius: 50px;
}
.welcome2 button, .catalog_btn{
  background-color:#FCB322;
  color: white; 
  border-radius: 50px;
}
.welcome2 button:hover, .welcome button:hover, 
.catalog_btn:hover{
  background-color: #7EBDC2;
  color: white;
  transform: scale(1.05);
}

footer{
  background-color: #FCB322;
  color: white;
  padding-top: 2rem;
}

hr.light{
  border-top: 1px solid white;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

.welcome h1, .welcome2 h1{
  font-weight: 500;
}
/* кнопка аутлайн */
.btn-out {
  border: 2px solid ;
  background-color: white;
  border-radius: 50px;
  font-size: medium;
  cursor: pointer;
  padding: 2px 7px;
  border-color: #7EBDC2;
  color: rgb(35, 137, 141);
}

.btn-out:hover {
  background-color: #7EBDC2;
  color: white;
}

/* ::-webkit-scrollbar
{
  width: 12px;  
  height: 6px; 
}

::-webkit-scrollbar-track
{
  background: rgba(0, 50, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 50, 0, 0.5);
} */

.scrollbar-cyan::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
  
  .scrollbar-cyan::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-cyan::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #7EBDC2; }
  
  .scrollbar-cyan {
  scrollbar-color: #7EBDC2 #F5F5F5;
  }

/* toggle switches with bootstrap default colors */

.custom-control-input-warning:checked ~ .custom-control-label::before {
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
}

.custom-control-input-info:checked ~ .custom-control-label::before {
  background-color: #17a2b8 !important;
  border-color: #17a2b8 !important;
}

/* Large toggl switches */
.custom-switch-lg .custom-control-label::before {
  left: -2.25rem;
  width: 3rem;
  border-radius: 1.5rem;
}

.custom-switch-lg .custom-control-label::after {
  top: calc(.25rem + 3px);
  left: calc(-2.25rem + 4px);
  width: calc(1.5rem - 6px);
  height: calc(1.5rem - 6px);
  border-radius: 1.5rem;
}

.custom-switch-lg .custom-control-input:checked ~ .custom-control-label::after {
  transform: translateX(1.4rem);
}

.custom-switch-lg .custom-control-label::before {
  height: 1.5rem;
}

.custom-switch-lg .custom-control-label {
  padding-left: 1.5rem;
  line-height: 1.7rem;
}

/* Chechbox */

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #ffc107;
  border-color: #ffc107;
}

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}
/* --- Со второго файла--- */
.welcome a{
  color:white;
  font-weight: bold;
}
.pp{
  margin-top: 10px;
}
#ava{
  height: 315px;
  width: 250px;
  border: 5px solid #7EBDC2;
  border-radius: 10px;
}
.icon{
  height: 30px;
  width: 30px;
  margin: 5px;
  transition: transform .3s ease-in-out;
}
.icon:hover{
  transform: scale(1.2);
}
.rot:hover{
  transform: scale(1.2)  rotate(45deg);
}

#personal_page{
  background-color: #FCB322;
}

.type-user, #personal_page h2{
  color: white;
}
.p-attention{
  background-color: #7EBDC2;
  border-radius: 50px;
  padding: 5px;
  font-weight: bold;
}
#welcomePane{
  padding-top: 0;
}
.content h3{
  color: #FCB322;
  font-weight: bold;
}
.div-center {
  width: 400px;
  height: 400px;
  background-color: #fff;
  
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 1em 2em;
  display: table;
}

.btn-enter{
  background-color:#FCB322;
  color: white; 
  border-color: #FCB322;
  border-radius: 50px;
}

.btn-enter:hover{
  background-color: #7EBDC2;
  border-color: #7EBDC2;
  transform: scale(1.1);
}

div.content {
  display: table-cell;
  vertical-align: middle;
}
/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
